header{
    background-color: #fbe7e6;
    font-family: Brush Script MT,Times New Roman;
}
nav{
    flex:1;
	text-align: center;
	font-size : 34px;
	font-family: Brush Script MT,Times New Roman;
    color: #b57685 ;
    height: 80px;
    top: 50%;
  
}
#conteneur_nav{
    padding: 0px;
    margin-top: 0px;
}
.text-center{
    margin-left: 475px;
}
li {
    margin-right: 32px;
    text-align: center;
    color: #b57685 ;
    
}
.nav-link {
    color: #b57685;
    top: 50%;
    }
#icon{
    margin-top: 10px;
    margin-left: 130px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#logout{
    margin-right: 5px;
    margin-top: 0;
    color: #c29064!important;
}

.slider-one{
  padding: 0px;
  height: 480px;
  margin-top: 10px;
  
}
.bi-star-fill,.bi-star-half {
    color: #e0a800;
    margin:3px;
}
.card-title{
    color:#c29064;
    font-family: Brush Script MT,Times New Roman ;
    font-size: 30px;
    text-align: center!important;
}
.card-star{
    text-align: center;
}
.card-text{
    text-align: center;
}
.price-text{
    text-align: center;
}
.btn.btn-warning{
    text-align: center;

}
